.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  background-color: #111;
  padding: 20px;
}
.logo {
  position: fixed;
  left: 20px;
  width: 100px;
}
.avatar {
  position: fixed;
  width: 30px;
  right: 20px;
}
.logo, .avatar {
  cursor: pointer;
}
